modules = ["nodejs-20", "web"]
run = "node index.js"

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Web Server"

[[workflows.workflow]]
name = "Web Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[deployment]
run = ["sh", "-c", "node index.js"]

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8000
externalPort = 8000

[agent]
expertMode = true
integrations = ["javascript_gemini_ai_integrations:2.0.0"]

[userenv]

[userenv.shared]
PRIVATE_VAPID_KEY = "eqS6M5h4I0DZUlNblz0NLyXoj4uTGQIxL57kZiLxqII"
PUBLIC_VAPID_KEY = "BHd6lpGShh7m5bAOB_ZmIs8cfPgkaqsxwEWaGWzYJIpKmzxa4yrNwrbw9GiGfodLmssca4Uh_YGiabgetChu2oQ"
